.project_box_container{
    width: 550px;
    margin: 20px;
    box-shadow: 0 5px 15px gray;
    padding: 5px;
    border-radius: 5px;
}
.project_box_image_container > img{
    width: 550px;
}
.project_box_description_container{
    padding: 0 10px;
}
.project_box_title{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: red;
}
.project_box_sentences_container > p, .project_box_link {

    font-size: 14px;

}
.project_box_link > span {
    color: red;
    font-weight: 700;
}

.project_box_link > a{
    color:blue;
}
@media screen and (max-width:600px) {
    .project_box_container{

        width:400px
    }
    .project_box_image_container > img{
        width: 400px;
    }
    .project_box_link > a{
        color:blue;
        font-size: 10px;
    }

    
}
@media screen and (max-width:450px) {
    .project_box_container{

        width:300px
    }
    .project_box_image_container > img{
        width: 300px;
    }
    .project_box_link > a{
        color:blue;
        font-size: 10px;
    }

    
}
@media screen and (max-width:350px) {
    .project_box_container{

        width:250px
    }
    .project_box_image_container > img{
        width: 250px;
    }
    .project_box_link > a{
        color:blue;
        font-size: 7px;
    }

    
}