.experience_cards_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    background-color: rgb(238, 238, 238);
}

.experience_title{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}