
.nav-bar {
    background-color: rgba(0, 0, 0, 0.305);
    display: flex;
    flex-wrap: wrap;
    
    
    padding:12px;
    position: fixed;
    width: 100%;
    


}

.nav-bar ul {
    
    
    position: absolute;
    right: 30px;
    display: flex;
    padding: 0px;
    margin: 0px ;

}

.nav-bar h1 {
    
    font-size: 40px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;

}

.nav-bar h1 span {
    text-align: left;
    color: transparent;
    -webkit-text-stroke: 2px red;
    font-family: Arial, Helvetica, sans-serif;

}

.nav-bar ul li {
    
    list-style: none;
    margin: 10px 10px 0px 0px;

}

.nav-bar ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
    
}
.nav-bar a:hover{
    font-size: 20px;
    
}



button:hover {
    background-color: #333;
}

.drp {
    float: right;
    display: none;
    max-width: 200px;
}

.dropdown-content {

    display: none;
    margin-top: 10px;

    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.nav-bar button {
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #FF0000;
    border: 2px solid #ff0000;
    border-radius: 3px;

    width: 146.51px;
    height: 35px;
}



.dropdown-content a {

    float: none;
    color: black;
    padding: 12px 16px 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

@media screen and (max-width: 700px) {
    .nav-bar ul li {
        display: none;

    }

    .drp {
        display: block;
    }
    .nav-bar ul li a {
        font-size: 10px;

    }

    .nav-bar h1 {
        font-size: 30px;
    }

}