.techstack_container{
    height: 100%;
    background-color: rgb(238, 238, 238);
}
.techstack_title{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding-top: 50px;
}
.techstack_icon_container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    
    margin: 60px 0;
}
@media screen and (max-width:600px) {
    .techstack_icon_container{

    grid-template-columns: auto auto auto;
    }
}